@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Raleway:wght@900&display=swap");
/*
0 - 600px: Phone
600px - 950px: Tablet portrait
900px - 1200px: Tablet landscape
[1200px - 1800px]: Main design
1800px +: Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* This defines 1rem == 10px */
  scroll-behavior: smooth; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  color: #383838;
  font-family: "Poppins", sans-serif; }

.heading-container {
  text-align: center; }

.u-gradient-text {
  text-transform: uppercase;
  text-align: center; }

.heading-primary {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  transition: all .2s;
  backface-visibility: hidden;
  padding: 1rem;
  border-bottom: 3px solid;
  border-color: inherit; }
  .heading-primary:hover {
    transform: scale(1.01); }
  @media (max-width: 59.375em) {
    .heading-primary {
      font-size: 3.5rem;
      border: none; } }

.heading-secondary {
  font-size: 3rem;
  text-transform: capitalize; }
  @media (max-width: 59.375em) {
    .heading-secondary {
      font-size: 3rem; } }

.section-default-padding {
  padding: 5rem 1rem; }

.heading-container {
  text-align: center; }

.u-gradient-text {
  display: inline-block;
  background: linear-gradient(to right bottom, #00444e 20%, #948347 100%);
  -webkit-background-clip: text;
  text-transform: uppercase;
  background-clip: text;
  color: transparent;
  box-sizing: border-box;
  text-align: center; }

/* Margin Utilities */
.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-huge {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 6rem; }

/* NAVIGATION */
.navbar {
  background-color: #022B3A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: #FFF; }
  @media (max-width: 59.375em) {
    .navbar {
      flex-direction: column;
      align-items: flex-start; } }
  .navbar__brand {
    font-weight: 700;
    font-size: 3rem;
    padding: 1.5rem;
    text-decoration: none;
    color: #FFF; }
    .navbar__brand span {
      color: #F8CB2E; }
  .navbar__logo {
    color: #F8CB2E; }
  .navbar__toggle {
    display: none;
    cursor: pointer; }
    @media (max-width: 59.375em) {
      .navbar__toggle {
        display: flex;
        position: absolute;
        right: 2.5rem;
        top: 2rem;
        font-size: 1.7rem; } }
  .navbar__icon:hover {
    transform: scale(1.1);
    color: #F8CB2E; }
  @media (max-width: 59.375em) {
    .navbar__remove {
      display: none; } }
  .navbar__links ul {
    display: flex; }
    @media (max-width: 59.375em) {
      .navbar__links ul {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
  .navbar__links li {
    list-style: none; }
    @media (max-width: 59.375em) {
      .navbar__links li {
        width: 100%; } }
  .navbar__links a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 700;
    padding: 1.2rem;
    transition: .2s ease; }
    .navbar__links a:hover {
      background-color: #FFF;
      color: #383838;
      border-radius: 3px; }
    @media (max-width: 59.375em) {
      .navbar__links a {
        padding: 1.5rem;
        display: block;
        width: 100%; } }
  @media (max-width: 59.375em) {
    .navbar__links {
      width: 100%;
      padding-bottom: 1.5rem; } }

.footer {
  text-align: center;
  font-size: 1.5rem; }
  .footer__logo {
    font-size: 10rem;
    margin-bottom: 5rem; }
  .footer__links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 5rem;
    transition: all .2s;
    padding-top: 2rem;
    border-top: 1px solid #383838; }
    .footer__links li:not(:last-child) {
      margin-right: 2rem; }
    .footer__links a,
    .footer__links a:visited,
    .footer__links a:link {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase; }
      .footer__links a:hover,
      .footer__links a:visited:hover,
      .footer__links a:link:hover {
        text-decoration: underline; }
  .footer__text {
    width: 80%;
    margin: 0 auto 8rem auto; }
    @media (max-width: 37.5em) {
      .footer__text {
        width: 95%; } }
    .footer__text a {
      color: #383838; }
  .footer__copyright {
    font-weight: 300; }

.header {
  height: 90vh;
  background-image: linear-gradient(rgba(2, 43, 58, 0.5), rgba(31, 122, 140, 0.5)), url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-content {
    width: 100rem;
    margin-left: 10%; }
    @media (max-width: 59.375em) {
      .header-content {
        width: 80%;
        margin: 0 auto; } }
    @media (max-width: 37.5em) {
      .header-content {
        justify-content: center;
        padding: 0 1rem; } }
    .header-content__phrase {
      font-size: 6rem;
      color: #F1EEE9;
      margin-bottom: 2rem;
      text-transform: capitalize; }
      .header-content__phrase span {
        color: #F8CB2E; }
      @media (max-width: 37.5em) {
        .header-content__phrase {
          text-align: center;
          font-size: 5rem; } }
    .header-content__description {
      color: #FFF;
      font-size: 2rem;
      margin-bottom: 1rem; }
      @media (max-width: 37.5em) {
        .header-content__description {
          text-align: center; } }
  .header-btn {
    margin: 2.5rem 0; }
    @media (max-width: 37.5em) {
      .header-btn {
        text-align: center; } }
    .header-btn__sign-up, .header-btn__details {
      border: none;
      padding: 1.5rem 2rem;
      border-radius: 3px;
      text-transform: capitalize;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      font-weight: 700;
      text-decoration: none;
      font-size: 1.5rem;
      color: #383838; }
      .header-btn__sign-up:hover, .header-btn__details:hover {
        background-color: #FFF;
        color: #383838; }
    .header-btn__sign-up {
      background-color: #022B3A;
      color: #FFF;
      margin-right: .5rem;
      transition: .2s ease; }
    .header-btn__details {
      background-color: #F8CB2E;
      transition: .2s ease; }

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-size: cover;
  padding: 7rem; }
  .about-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100px;
    font-size: 1.6rem;
    border-radius: 1rem;
    width: 200px;
    margin: 1rem;
    transition: all .2s;
    box-shadow: 0 0.1rem 0.4rem #383838;
    backface-visibility: hidden; }
    .about-item img {
      width: 150px; }

.workout {
  text-align: center;
  margin: 0 auto;
  width: 70%; }
  @media (max-width: 75em) {
    .workout {
      width: 90%; } }
  .workout-text__heading {
    font-weight: 600; }
  .workout-text__paragraph {
    font-size: 1.6rem; }
  .workout-text__items {
    list-style: none;
    columns: 2;
    font-size: 1.6rem; }
    .workout-text__items span {
      font-weight: 600; }

.features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 5rem; }
  @media (max-width: 75em) {
    .features {
      flex-wrap: wrap;
      justify-content: center; } }
  .features .feature-card {
    width: 20%;
    padding: 3rem 1rem;
    box-shadow: 0 0.1rem 0.4rem #383838;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: all .2s; }
    @media (max-width: 75em) {
      .features .feature-card {
        width: 300px;
        margin: 2rem; } }
    .features .feature-card:hover {
      box-shadow: 0 0.2rem 1rem #383838;
      transform: scale(1.01) translateY(-3px); }
    .features .feature-card__icon {
      font-size: 7rem; }
    .features .feature-card__header {
      margin-bottom: 1rem;
      text-transform: capitalize;
      font-size: 2rem; }

.stories {
  width: 50%;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .stories {
      width: 70%; } }
  .stories .story {
    display: flex;
    margin: 0 auto;
    box-shadow: 0 0.2rem 3rem #383838;
    padding: 1.5rem;
    border-radius: 10px; }
    @media (max-width: 75em) {
      .stories .story {
        width: 70%; } }
    @media (max-width: 59.375em) {
      .stories .story {
        flex-direction: column;
        align-items: center;
        width: 90%; } }
    .stories .story:not(:last-child) {
      margin-bottom: 5rem; }
      @media (max-width: 59.375em) {
        .stories .story:not(:last-child) {
          margin-bottom: 4rem; } }
    .stories .story .img-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50%; }
      @media (max-width: 59.375em) {
        .stories .story .img-box {
          margin-bottom: 2rem; } }
      .stories .story .img-box__name {
        position: absolute;
        z-index: 2;
        color: #FFF;
        font-size: 1.5rem;
        opacity: 0;
        transform: translateY(5rem);
        transition: all .3s;
        font-style: italic; }
        @media (max-width: 75em) {
          .stories .story .img-box__name {
            opacity: 1;
            position: relative;
            color: #383838;
            transform: translate(0);
            margin-top: .5rem; } }
      .stories .story .img-box__img {
        width: 120px;
        border-radius: 50%;
        position: relative;
        transition: all .3s; }
    .stories .story .text-box {
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 59.375em) {
        .stories .story .text-box {
          text-align: center;
          margin-left: 0; } }
      .stories .story .text-box__heading {
        font-size: 2rem;
        margin-bottom: 1rem; }
      .stories .story .text-box__para {
        font-size: 1.5rem; }
    .stories .story:hover .img-box__name {
      opacity: 1;
      transform: translateY(0); }
    .stories .story:hover .img-box__img {
      filter: blur(3px) brightness(80%);
      transform: scale(0.9); }
      @media (max-width: 75em) {
        .stories .story:hover .img-box__img {
          filter: inherit;
          transform: inherit; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.plans {
  display: flex;
  justify-content: center; }
  @media (max-width: 75em) {
    .plans {
      flex-direction: column;
      align-items: center; } }
  .plans .plan {
    max-width: 400px;
    box-shadow: 0 0.5rem 2rem #383838;
    border-radius: 5px;
    padding-bottom: 3rem; }
    .plans .plan:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .plans .plan:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem;
          margin: 0 2rem 6rem 2rem; } }
    @media (max-width: 75em) {
      .plans .plan:last-child {
        margin: 0 2rem; } }
    .plans .plan--1 .plan-info__summary {
      background-color: #3DC46D;
      box-shadow: 0 0.5rem 2rem #3DC46D; }
    .plans .plan--1 .plan-info__heading {
      color: #3DC46D; }
    .plans .plan--1 .plan-info__payment--btn:hover {
      background-color: #3DC46D;
      border: 1px solid #3DC46D;
      color: #FFF; }
    .plans .plan--1 .plan-info__toggle:hover {
      color: #3DC46D; }
    .plans .plan--1 .plan__img {
      background-image: url(../img/card-1.jpg); }
    .plans .plan--2 .plan-info__summary {
      background-color: #EE5007;
      box-shadow: 0 0.5rem 2rem #EE5007;
      position: relative; }
    .plans .plan--2 .plan-info__heading {
      color: #EE5007; }
    .plans .plan--2 .plan-info__payment--btn:hover {
      background-color: #EE5007;
      border: 1px solid #EE5007;
      color: #FFF; }
    .plans .plan--2 .plan-info__toggle:hover {
      color: #EE5007; }
    .plans .plan--2 .plan__img {
      background-image: url(../img/card-2.jpg); }
    .plans .plan--3 .plan-info__summary {
      background-color: #3C61DB;
      box-shadow: 0 0.5rem 2rem #3C61DB; }
    .plans .plan--3 .plan-info__heading {
      color: #3C61DB; }
    .plans .plan--3 .plan-info__payment--btn:hover {
      background-color: #3C61DB;
      border: 1px solid #3C61DB;
      color: #FFF; }
    .plans .plan--3 .plan-info__toggle:hover {
      color: #3C61DB; }
    .plans .plan--3 .plan__img {
      background-image: url(../img/card-3.jpg); }
    .plans .plan__img {
      max-width: inherit;
      height: 250px;
      background-position: center;
      background-size: cover;
      border-radius: 5px 5px 0 0; }
    .plans .plan-info {
      margin-top: 3rem;
      width: 80%;
      margin: 3rem auto 0 auto; }
      .plans .plan-info__heading {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem; }
      .plans .plan-info__description {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 300; }
      .plans .plan-info__items {
        text-align: center;
        list-style: none;
        font-size: 1.3rem; }
        .plans .plan-info__items li {
          padding: 1rem; }
          .plans .plan-info__items li:not(:last-child) {
            border-bottom: 1px solid rgba(56, 56, 56, 0.6); }
      .plans .plan-info__toggle {
        background-color: transparent;
        border: none;
        display: block;
        margin: 0 auto;
        padding: .5rem 1rem;
        border-radius: 20%;
        transition: all .2s; }
      .plans .plan-info__summary {
        display: flex;
        width: 90%;
        margin: 2rem auto;
        justify-content: space-between;
        align-items: center;
        background-color: #E1E5F2;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        color: #FFF; }
        .plans .plan-info__summary--time {
          font-size: 1.7rem; }
        .plans .plan-info__summary--price {
          font-size: 1.5rem; }
        .plans .plan-info__summary--change,
        .plans .plan-info__summary--change:link .plans .plan-info__summary--change:visited {
          font-size: 1.3rem;
          color: #FFF; }
      .plans .plan-info__payment {
        width: 90%;
        text-align: center;
        margin: 0 auto; }
        .plans .plan-info__payment--btn, .plans .plan-info__payment--btn:link, .plans .plan-info__payment--btn:visited {
          display: block;
          width: 100%;
          padding: 1rem 2rem;
          font-size: 1.3rem;
          text-decoration: none;
          border-radius: 5px;
          font-weight: 600;
          background-color: #FFF;
          color: #383838;
          border: 1px solid #383838;
          transition: all .2s; }

.contact {
  display: flex;
  justify-content: center;
  width: 100%; }
  .contact__form {
    width: 50%; }
    @media (max-width: 59.375em) {
      .contact__form {
        width: 90%; } }
  .contact .form {
    text-align: center; }
    .contact .form__group:not(:last-child) {
      margin-bottom: 2rem; }
    .contact .form__input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 100%;
      display: block;
      transition: all .3s;
      outline: none;
      resize: none; }
      .contact .form__input:focus {
        border-bottom: 3px solid #FFF;
        background-color: rgba(255, 255, 255, 0.6); }
    .contact .form__submit {
      width: 100%;
      padding: 1rem 0;
      background-color: rgba(255, 255, 255, 0.8);
      border: none;
      border-radius: 2px;
      cursor: pointer;
      color: #383838;
      font-family: inherit;
      transition: all .3s; }
      .contact .form__submit:hover {
        background-color: #FFF; }

hr {
  border: 10px solid #383838;
  border-style: dotted;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 20%;
  margin: 2rem auto; }

.header,
.section-about,
.section-workout,
.section-features,
.section-stories,
.section-plans,
.section-contact,
.footer {
  padding: 10rem 1rem; }

.section-features {
  padding-bottom: 5rem; }

.section-workout {
  background-position: center;
  background-size: cover; }

.section-stories {
  position: relative; }

.section-contact {
  background-image: linear-gradient(to right bottom, rgba(61, 196, 109, 0.8), rgba(2, 43, 58, 0.8)), url(../img/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #FFF; }
  .section-contact .heading-primary {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0.5rem 4rem rgba(255, 255, 255, 0.5); }
  .section-contact .heading-secondary {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600; }
