// COLORS

$white-primary: #FFF;
$white-secondary: #EFEFEF;

$dark-cyan: #00444E;
$light-cyan: #04889D;
$very-light-cyan: #E8F9FD;

$yellow: #F8CB2E;
$orange: #EE5007;

$black: #383838;

// SPACING

$section-default-padding: 5rem 0;