// COLORS

$white-primary: #FFF;
$white-secondary: #F1EEE9;

// Theme Colors

$dark-cyan: #022B3A;
$light-cyan: #1F7A8C;
$very-light-cyan: #BFDBF7;

$lavendar: #E1E5F2;

// Pop Colors

$yellow: #F8CB2E;
$orange: #EE5007;
$green: #3DC46D;
$blue: #3C61DB;
$pink: #fE4EB0;

$black: #383838;

// SPACING

$section-default-padding: 10rem 1rem;