// COLORS

$white-primary: #FFF;
$white-secondary: #EFEFEF;

$dark-cyan: #022B3A;
$light-cyan: #1F7A8C;
$very-light-cyan: #BFDBF7;

$lavendar: #E1E5F2;

$yellow: #F8CB2E;
$orange: #EE5007;
$green: #3dc46d;
$blue: #3c61db;
$pink: #fe4eb0;

$black: #383838;

// SPACING

$section-default-padding: 10rem 1rem;