@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/navbar";
@import "./components/footer";
@import "./components/header";
@import "./components/about";
@import "./components/workout";
@import "./components/features";
@import "./components/story";

@import "./pages/home";

/* SECTION FEATURES */



/* SECTION STORIES */



/* UTILITIES */

.section-default-padding {
    padding: 5rem 1rem;
}

.heading-container {
    text-align: center;
}

.u-gradient-text {
    display: inline-block;
    background: linear-gradient(73deg, rgba(0,68,78,1) 20%, rgba(148,131,71,1) 100%);
    -webkit-background-clip: text;
    text-transform: uppercase;
    background-clip: text;
    color: transparent;
    box-sizing: border-box;
    text-align: center;
}

.u-heading-primary {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transition: all .2s;
    backface-visibility: hidden;
}

.u-heading-primary:hover {
    transform: scale(1.01);
}

.u-heading-secondary {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
}

.u-text-default {
    font-size: 1.6rem;
}

/* Top Margin Utilities */

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}

/* Bottom Margin Utilities */
.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-big {
    margin-top: 6rem;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    /* SECTION WORKOUT */


    .workout-content {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .workout-text {
        width: 90%;
    }

    .workout-img {
        margin-bottom: 5rem;
    }

    /* SECTION FEATURES */

    .features {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-card {
        width: 300px;
        margin: 2rem;
    }

    /* SECTION FEATURES */

    .stories {
        width: 70%;
    }

    .story-text-div{
        width: 90%;
    }
}

@media (max-width: 950px) {

    /* NAVIGATION */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .remove-navbar {
        display: none;
    }

    .navbar-links {
        width: 100%;
        padding-bottom: 1.5rem;
    }

    .navbar-links ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-links li {
        width: 100%;
    }

    .navbar-links a {
        padding: 1.5rem;
        display: block;
        width: 100%;
    }

    .toggle-button {
        display: flex;
        position: absolute;
        right: 2.5rem;
        top: 2rem;
        font-size: 1.7rem;
    }


    .fa-bars:hover {
        transform: scale(1.1);
        color: var(--yellow);
    }

    /* SECTION HEADER */

    .content {
        width: 80%;
        margin: 0 auto;
    }

    .phrase {
        font-size: 5rem;
    }

    .description {
        font-size: 1.7rem;
    }

    /* SECTION WORKOUT */

    .u-heading-primary {
        font-size: 3rem;
    }

    .u-heading-secondary {
        font-size: 2.5rem;
    }

    .workout-img {
        width: 450px;
    }

    /* SECTION STORY */

    .story-text-div {
        width: 60%;
    }
}

@media (max-width: 600px) {

    /* SECTION HEADER */
    .header {
        justify-content: center;
        padding: 0 1rem;
    }

    .phrase {
        text-align: center;
        font-size: 4rem;
    }

    .description {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    /* SECTION WORKOUT */

    .workout-img {
        width: 350px;
    }

    /* SECTION STORY */

    .story {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .story:not(:last-child) {
        margin-bottom: 4rem;
    }

    .story-img-div {
        margin-bottom: 2rem;
    }

    .story-text-div {
        text-align: center;
        margin-left: 0;
        width: 90%;
    }
}


