@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    --white-primary: #FFF;
    --white-secondary: #EFEFEF;
    --dark-cyan: #00444E;
    --light-cyan: #04889D;
    --yellow: #F8CB2E;
    --orange: #EE5007;
    --red: #EE5007;
    --black: #383838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* This defines 1rem == 10px */
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

    /* NAVIGATION */



.navbar {
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    color: var(--white-primary);
}

.navbar-brand {
    font-weight: 700;
    font-size: 3rem;
    padding: 1.5rem;
}

.navbar-brand span {
    color: var(--yellow);
}

.toggle-button {
    display: none;
    cursor: pointer;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--white-primary);
    font-weight: 700;
    padding: 1.2rem;
    transition: .2s ease;
}

.navbar-links a:hover {
    background-color: var(--light-cyan);
    border-radius: 3px;
}


/* HEADER */

.header {
    height: 90vh;
    background-image: url('./hero.jpg');
    background-size: cover;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); */
}

.content {
    width: 100rem;
    margin-left: 10%;
}

.phrase {
    font-size: 6rem;
    color: var(--white-secondary);
    margin-bottom: 2rem;
}

.phrase span {
    color: var(--yellow);
}

.description {
    color: var(--white-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.buttons {
    margin: 2.5rem 0;
}

.sign-up-btn,
.details-btn {
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 700;
}

.sign-up-btn {
    background-color: var(--dark-cyan);
    color: white;
    margin-right: .5rem;
    transition: .2s ease;
}

.details-btn {
    background-color: var(--yellow);
    transition: .2s ease;
}

.sign-up-btn:hover,
.details-btn:hover {
    background-color: var(--white-primary);
    color: black;
}

/* STATS */

.section-stats {
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 5rem;
    
    display: inline-block;
    border-bottom: 1px solid var(--white-primary);
    transition: all .2s;
}

.section-heading:hover {
    border-bottom: 1px solid rgb(0,68,78);
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-size: cover;
    padding: 7rem;
}

.stat-item {
    padding: 2.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    width: 200px;
    margin: 1rem;
    box-shadow: 0 .5rem 1rem var(--black);
}

.count,
.topic {
    text-align: center;
    text-transform: capitalize;
}

@media (max-width: 950px) {

    /* NAVIGATION */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .remove-navbar {
        display: none;
    }

    .navbar-links {
        width: 100%;
        padding-bottom: 1.5rem;
    }

    .navbar-links ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-links li {
        width: 100%;
    }

    .navbar-links a {
        padding: 1.5rem;
        display: block;
        width: 100%;
    }

    .toggle-button {
        display: flex;
        position: absolute;
        right: 2.5rem;
        top: 2rem;
        font-size: 1.7rem;
    }


    .fa-bars:hover {
        transform: scale(1.1);
        color: var(--yellow);
    }

    /* HEADER */

    .content {
        width: 80%;
    }

    .phrase {
        font-size: 5rem;
    }

    .description {
        font-size: 1.7rem;
    }
}

@media (max-width: 582px) {
    .header {
        justify-content: center;
        padding: 0 1rem;
        height: 60vh;
    }

    .phrase {
        text-align: center;
        font-size: 4rem;
    }

    .description {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }
}


/* UTILITIES */

.gradient-text {
    background: rgb(0,68,78);
    background: linear-gradient(73deg, rgba(0,68,78,1) 20%, rgba(148,131,71,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

