.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-size: cover;
    padding: 7rem;


    &-item {
        padding: 2.5rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        width: 200px;
        margin: 1rem;
        background-color: $lavendar;
        transition: all .2s;
        box-shadow: 0 .5rem 1rem $black;
        backface-visibility: hidden;
    
        &:hover {
            box-shadow: 0 1rem 1rem $black;
            transform: scale(1.01) translateY(-.5rem);
        }

        &__count,
        &__topic {
            text-align: center;
            text-transform: capitalize;
        }
    }
}






