.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5rem;

    @include respond(tab-land) {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-card {
        width: 20%;
        padding: 3rem 1rem;
        box-shadow: 0 .1rem 2rem $black;
        font-size: 1.5rem;
        border-radius: 5px;
        transition: all .2s;

        @include respond(tab-land) {
            width: 300px;
            margin: 2rem;
        }

        &:hover {
            box-shadow: 0 1rem 4rem $black;
            transform: scale(1.01) translateY(-3px);
        }

        &__icon {
            font-size: 7rem;
        }

        &__header {
            margin-bottom: 1rem;
            text-transform: capitalize;
            font-size: 2rem;
        }

        &__card-text {
        }
    }
    
    
}

