.header {
    height: 90vh;
    background-image: linear-gradient(rgba($dark-cyan, .5), rgba($light-cyan, .5)), url("../img/hero.jpg");

    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-content {
        width: 100rem;
        margin-left: 10%;

        @include respond(tab-port) {
            width: 80%;
            margin: 0 auto;
        }

        @include respond(phone) {
            justify-content: center;
            padding: 0 1rem;
        }

        &__phrase {
            font-size: 6rem;
            color: $white-secondary;
            margin-bottom: 2rem;
            text-transform: capitalize;
    
            & span {
                color: $yellow;
            }

            @include respond(phone) {
                text-align: center;
                font-size: 5rem;
            }
        }

        &__description {
            color: $white-primary;
            font-size: 2rem;
            margin-bottom: 1rem;

            @include respond(phone) {
                text-align: center;
            }
        }

        
    }

    &-btn {
        margin: 2.5rem 0;

        @include respond(phone) {
            text-align: center;
        }

        &__sign-up,
        &__details {
        border: none;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.5rem;
        color: $black;

        &:hover {
            background-color: $white-primary;
            color: $black;
        }
    }
        &__sign-up {
            background-color: $dark-cyan;
            color: $white-primary;
            margin-right: .5rem;
            transition: .2s ease;
        }
        
        &__details {
            background-color: $yellow;
            transition: .2s ease;
        }
    }
}

