.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba($dark-cyan, .8), rgba($green, .8)), url("../img/hero.jpg");
    width: 100%;

    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-content {
        width: 100rem;
        margin-left: 10%;

        @include respond(tab-port) {
            width: 80%;
            margin: 0 auto;
        }

        @include respond(phone) {
            justify-content: center;
            padding: 0 1rem;
        }

        &__phrase {
            font-size: 6rem;
            color: $white-primary;
            margin-bottom: 2rem;
            text-transform: capitalize;
    
            & span {
                color: $green;
            }

            @include respond(phone) {
                text-align: center;
                font-size: 5rem;
            }
        }

        &__description {
            color: $white-primary;
            font-size: 2rem;
            margin-bottom: 1rem;

            @include respond(phone) {
                text-align: center;
            }
        }

        
    }

    &-btn {
        margin: 2.5rem 0;

        @include respond(phone) {
            text-align: center;
        }

        &__discover,
        &__try {
        border: none;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.5rem;
        color: $white-primary;
        
        &:hover {
            background-color: $white-primary;
            color: $black;
        }
    }
        &__discover {
            background-color: $dark-cyan;
            color: $white-primary;
            margin-right: .5rem;
            transition: .2s ease;
        }
        
        &__try {
            background-color: $green;
            transition: .2s ease;
        }
    }

    &__popup {
        // transform: scale(0) translateY(-100rem);
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right bottom, rgba($dark-cyan, .97), rgba($green, .8));
        background-size: cover;
        color: $white-primary;
        background-position: bottom;
        
        &--cancel {
            position: absolute;
            top: 6rem;
            left: 8rem;
            cursor: pointer;
            font-size: 3rem;
            outline: 1px solid $green;
            padding: 1rem 1.4rem;
            border-radius: 50%;
            color: $green;

            &:hover {
                color: $white-primary;
                background-color: $green;
            }
        }

        

        &--heading {
            margin-bottom: 5rem;
        }

        &--btn {
            margin-bottom: 7rem;
        }

        &--sign-up,
        &--sign-in {
            border: none;
            padding: 1.5rem 2rem;
            border-radius: 3rem;
            text-transform: capitalize;
            font-family: inherit;
            cursor: pointer;
            font-weight: 700;
            text-decoration: none;
            font-size: 1.5rem;
            margin: 1rem;
        }

        &--sign-up {
            background-color: $white-primary;
            color: $dark-cyan;
        }

        &--sign-in {
            background-color: $green;
            color: $white-primary;
        }
    }
}

.go-top {
    position: fixed;
    right: 3rem;
    bottom: 1.5rem;
    font-size: 4rem;
    z-index: 999;
    color: $black;
    text-shadow: 0 .1rem 1rem $white-primary;
    padding: 0 1rem;
}

