.workout {
    text-align: center;
    margin: 0 auto;
    width: 70%;

    @include respond(tab-land) {
        width: 90%;
    }
    
    &-text {
        &__heading {
            font-weight: 600;
        }

        &__paragraph {
            font-size: 1.6rem;
        }

        &__items {
            list-style: none;
            columns: 2;
            font-size: 1.6rem;

            & span {
                font-weight: 600;
            }
        }
    }
}
