body {
    color: $black;
    font-family: "Poppins", sans-serif;
}

.heading-container {
    text-align: center;
}

.u-gradient-text {
    text-transform: uppercase;
    text-align: center;
}

.heading-primary {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    transition: all .2s;
    backface-visibility: hidden;
    padding: 1rem;
    border-bottom: 3px solid;
    border-color: inherit;
    // border-style: double;

    &:hover {
        transform: scale(1.01);
    }

    @include respond(tab-port) {
        font-size: 3.5rem;
        border: none;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: capitalize;

    @include respond(tab-port) {
        font-size: 3rem;
    }
}

