.header,
.section-about,
.section-workout,
.section-features,
.section-stories,
.section-plans {
    padding: $section-default-padding;
    margin-bottom: 4rem;
}

.section-workout {
    background-color: $lavendar;
    background-position: center;
    background-size: cover;
}

.section-stories {
    position: relative;
}

.section-plans {
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
        flex-direction: column;
        align-items: center;
    }
}