.header,
.section-about,
.section-workout,
.section-features,
.section-stories,
.section-plans {
    padding: $section-default-padding;
}

.section-features {
    background-color: $lavendar;
    padding-bottom: 5rem;
}

.section-workout {
    background-color: $lavendar;
    background-position: center;
    background-size: cover;
}

.section-stories {
    position: relative;
}

.section-plans {
    
}